.thumbnail p, .thumbnail h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
    width: auto;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
}

p.copyright {
    margin-bottom: auto;
    margin-top: 500px;
    width: 100%;
    color:black;
    line-height: 20px;
    font-size: 1em;
    text-align: center;
    bottom:0;
}

.header{
    margin: 1px;
}

.Orders{
    text-align: center;
    font-size: 5px;
    color:black;
    margin-left: auto;
    margin-right: auto;
}

hr.Line{
    border: 0.6px solid black;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    align-self: center;
}

.type{
    position: absolute;
    bottom: 50px;
    width: 100%;
  }


