p.copyright {
    margin-top: 10rem;
    width: 90%;
    color:black;
    line-height: 20px;
    font-size: 0.7em;
    text-align: left;
    margin-left: 15px;
    bottom:0;
}

header.masthead {
    overflow: hidden;
    padding-top: 17rem;
    padding-bottom:17rem;
    text-align: right;
    padding-right: 3rem;
}
header.masthead {
    padding-top: 11rem;
    padding-bottom: 18rem;
    text-align: right;
    color:white;
    background-image: url("../our_images/roadsmall.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 700px) {
    header.masthead {
      background-image: url('../our_images/roadlarge.jpg');
    }
}

.masthead-heading {
    font-size: 2.5rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}

@media (min-width: 1200px) {
    .masthead-heading {
        font-size: 3rem;
    }
}
.masthead-subheading {
    font-size: 1.5rem;

}

@media (min-width: 1200px) {
    .masthead-subheading {
        font-size: 2rem;
    }
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::before, ::after {
    box-sizing: border-box;
}
 .center {
    margin-top: 6rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center i {
    margin: 0 5px;
}

.center p {
    font-size: 1;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    font-size: 1.4rem;
}

.container{
    margin-right: 0px;
    margin-top: 40px;
}

hr.hr2{
    margin-top: 8rem;
    margin-bottom: 4rem;
    border: 0.1px solid grey;
}
hr.hr1{
    border: 0.3px solid black;
}

@media (min-width: 992px){
    hr.hr1{
        display:none;
    }
    .row-relative {
        position: relative;
        text-align: left;
    }
    .col-border-padding {padding-left: 15px;}
    .col-border{
        padding-left: 0;
        position: static;
    }
    
    .col-border:before{
        content:"";
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: 1px solid red;
    }

}

.section-heading {
    margin-top: 3rem;
    margin-right: 30rem;
    margin-left: 30rem;
}


#team-paragraph{
    color: grey;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media (min-width: 1200px){
    #team-paragraph{
        padding-left: 30rem;
        padding-right: 30rem;
    }
}

.team-member{
    margin-bottom: 2rem;
}

