@media (max-width: 1000px) { 
    .red_space{
        display: none !important;
    } 
}

#navbar-img {
    height: 50px;
    background-image: url(vertical_red.png);
  } 

  @media (min-width: 1001px) {   
      #navbar-img{
          width: 3px;
      } 
   }
  
  @media (min-width: 1010px) {      
        #navbar-img{        
          width: 60px;
        } 
  }
  @media (min-width: 1230px) {    
       #navbar-img{         
           width: 270px;
       } 
  }

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.dropdown-menu p{
    margin: 10px
}

header.masthead {
    overflow: hidden;
    padding-top: 17rem;
    padding-bottom:17rem;
    text-align: right;
    padding-right: 3rem;
}
header.masthead {
    padding-top: 6rem;
    padding-bottom: 15rem;
    text-align: right;
    color:white;
    background-image: url("athenssmall.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 600px) {
    header.masthead {
      background-image: url('athensmed.png');
    }
}

@media (min-width: 1320px) {
    header.masthead {
      background-image: url('athenslarge.png');
    }
}
header.masthead .masthead-heading {
    font-size: 2.2rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}
header.masthead .masthead-subheading {
    font-size: 1.5rem;

}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::before, ::after {
    box-sizing: border-box;
}
 .center {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center i {
    margin: 0 5px;
}

.center p {
    font-size: 1;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

.container{
    margin-right: 0px;
    margin-top: 40px;
}

hr.h1{
    border: 0.3px solid black;
}

@media (min-width: 992px){
    hr.h1{
        display:none;
    }
    .row-relative {
        position: relative;
        text-align: left;
    }
    .col-border-padding {padding-left: 15px;}
    .col-border{
        padding-left: 0;
        position: static;
    }
    
    .col-border:before{
        content:"";
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: 1px solid red;
    }
}